.container{
    background-color: teal;
    text-align: center;
    color: #f0f0f0;
    padding: 40px
}
p{
    font-size: 20px;
}

.contain{
    background-color: rgb(19, 120, 53);
    padding: 10px;
}
ul{
    padding: 0%;
    list-style-type: none;
    overflow: hidden;
    display: block;
    text-decoration: none;
}
li{
    float: left;
}
li a{
    padding: 20px;
    font-family: Arial;
    text-decoration: none;
    font-size: 30px;
    color: #f0f0f0;
}
li a:hover{
   background: blue;
}
